apiVersion: v1
kind: Secret
metadata:
  name: dashboard-be
  namespace: restaurant
  labels:
    app: dashboard-be
stringData:
  secrets.json: |
    {
        "Secrets": {
            "UserId": {{ almacen_db_user }},
            "Password": {{ almacen_db_password }},
            "SecretKey": {{ security_access_token_secret }}
        }
    }
