apiVersion: v1
kind: Secret
metadata:
  name: argocd-vault-plugin-credentials
  namespace: argocd
stringData:
  AVP_TYPE: awssecretsmanager
  AWS_REGION: us-east-2
  AWS_ACCESS_KEY_ID: {{ aws_secrets_key_id }}
  AWS_DEFAULT_REGION: us-east-2
  AWS_SECRET_ACCESS_KEY: {{ aws_secrets_access_key }}
type: Opaque
